h1 {
    color: #78ab46;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.heading-text {
    margin-top: 100px;
}


body {
  padding-top: 100px;
  background-color: lightblue;
}
