<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>   
   
<title>Add Assignment</title>
</head>
<body>

 	<form action="#" th:action="@{/addAssignment}"  th:object="${assignment}" method="post">
 	<select th:field="*{subject}" class="form-control" id="subject" name="subject">
 	<div> 
 <option value="">Select subject</option>
		<option 
 			th:each="Subject : ${subjects}" 
 			th:value="${Subject}" 
 			th:text="${Subject}"></option>
 			</div>
		<table>
			<tr>
			<td>assignmentTitle</td>
			 <td><input type="text" th:field="*{assignmentTitle}" /></td>
		<!--   	<td th:if="${#fields.hasErrors('examTitlee')}" th:errors="*{examTitle}">error message</td>  -->	
	 		</tr>  
			<tr>
				<td> assignmentGradeWorth </td>
				<td><input th:field="*{assignmentGradeWorth}" /></td>
			<!--	<td th:if="${#fields.hasErrors('examGradeWorth')}" th:errors="*{examGradeWorth}">error message</td> -->
		  		</tr>  
				<tr>
					<td><button type="submit">Submit post</button></td>
					</tr>
		</table>
		</div>
	</form>  
	
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
