<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><base>
  	<title>Add Assignment</title>
  	<style>
body {
	padding-top: 45px;


}
</style>
</head>
<body>
	<div class=container>
		<!-- navbar-static-top -->


		<nav class="navbar navbar-default  navbar-fixed-top" style="background-color:#e7ffe0">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="userProfile1"> </a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<li><a href="/">Home</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/calendar/000000/00">Calendar</a></li>
								<li><a href="/timetable/00/00">Timetable</a></li>
								<li><a href="/contact">Contacts</a></li>
								<li><a href="/subjectSearch">Search For A Subject</a></li>
			
							</ul></li>
				
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<!-- 						<li><br>
						<b><span
								th:text="'Signed in as ' + ${user.firstName} + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'">Name</span></b></li> -->
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>


<div class="container"><h2>Add Assignment</h2></div>

<div class="container">

<div th:if="${not #lists.isEmpty(subjects)}">

 	<form action="#" th:action="@{/addAssignment}"  th:object="${assignment}" method="post">
 	<select class="form-control" th:field="*{subject}" id="subject" name="subject">

 
		<option 
 			th:each="Subject : ${subjects}" 
 			th:value="${Subject}" 
 			th:text="${Subject}"></option>
 			
 			</select>
 		
		<table class="table">
			<tr>
			<td>Assignment Title</td>
			 <td><input type="text" th:field="*{assignmentTitle}" /></td>
		<!--   	<td th:if="${#fields.hasErrors('examTitlee')}" th:errors="*{examTitle}">error message</td>  -->	
	 		</tr>  
			<tr>
				<td>Assignment Grade Worth </td>
				<td><input th:field="*{assignmentGradeWorth}" /></td>
			<!--	<td th:if="${#fields.hasErrors('examGradeWorth')}" th:errors="*{examGradeWorth}">error message</td> -->
		  		</tr>  
		  						<tr>
					<td>Date</td>
					<td> <input type="date" th:field="*{date}"/></td>
				</tr> 
	<tr>
					<td>Reminder</td>
					<td>Remind me&nbsp;<input type="number" size="2"
				id="reminder" name="reminder" min="0" max="1000"
				th:field="*{reminder}"> days before</td>				
				</tr>	
								<tr>
					<td><button type="submit">Submit post</button></td>
					</tr>
				<tr>
		</table>
	
	</form>  
	</div>
	</div>
	
	<div class="container" th:if="${#lists.isEmpty(subjects)}">
	You must add a subject to add an assignment!
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
