<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<base>
<title>Edit Contact</title>
<style>
body {
	padding-top: 45px;
}
</style>
</head>
<body>
	<div class=container>
<!-- navbar-static-top -->


	
	<nav class="navbar navbar-default  navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="userProfile1"> 
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<li><a href="/">Profile</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/calendar/000000/00">Calendar</a></li>
								<li><a href="/subjectSearch">Search For A Subject</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/allSubjects">View All Subjects</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/addsubject">Add New Subject</a></li>
								<li><a href="/addassignment">Add New Assignment</a></li>
								<li><a href="/addexam">Add New Exam</a></li>
								<li><a href="/addattendance">Add New Attendance</a></li>
							</ul></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout">Logout</a></li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>


	<div class="container"><h2>Contacts</h2>

				<div th:each="contact : ${contacts}">
		
						<table>
					<tr>
						<td>Name: </td>
						<td th:text="${contact.name}"></td>
							
					</tr>
					<tr>
						<td>Email: </td>
						<td th:text="${contact.email}"></td>
					
					</tr>
					<tr>
						<td>Description: </td>
						<td th:text="${contact.description}"></td>
					
					</tr>
					<tr>
						<td><form  th:action="@{/deleteContact/} + ${contact.contactId}"
							method="post">
							<button type="submit" class="close" value="Submit"
								aria-label="Close">
								&nbsp; <span aria-hidden="true">&times;</span>

							</button>
						</form></td>
						<td>				</td>
					</tr>
				</table>
		
			</div>
			<form action="/editContact">
  <button type="submit" class="btn btn-info btn-sm"
					>edit</button>

</form>

			
	

							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#exampleModal">Add Contact</button>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Add
												Semester</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">


	<form  th:action="@{/contact/}+ ${contact.contactId}" th:object="${contact}"	method="post">
				<table>
					<tr>
						<td th:text="${contact.name}"></td>
						<td><input type="text" th:field="*{name}" /></td>				
					</tr>
					<tr>
						<td th:text="${contact.email}"></td>
						<td><input type="text" th:field="*{email}" /></td>				
					</tr>
					<tr>
						<td th:text="${contact.description}"></td>
						<td><input type="text" th:field="*{description}" /></td>				
					</tr>
					<tr>
					<td>			<button type="submit" class="btn btn-info btn-sm">Save</button></td>
					<td></td>
					</tr>
				</table>
			
										<div class="modal-footer">

											
												<!--        <form action="/addCurrentSem" method="post"> -->
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
												<input name="button" value="Add Contact" type="submit"
													class="btn btn-primary">
													</div>
											</form>

										</div>
									</div>
								</div>
							</div>					




</div>
</body>

<script th:inline="javascript">


</script>
</html>
