<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>   
<title>Edit Assignment</title>
<h1> Edit Assignment </h1>
</head>


<body>

		<form th:action="@{/editAssignment}" th:object="${AssignmentDto}" method="post">
		
		<div>
		<label for="assignmentTitle" class="control-label">Assignment Title: </label>
		<input id="assignmentTitle" class="form-control" type="text" th:field="*{assignmentTitle}" />
		
		</div>
		<div>
		<label for="assignmentGradeAchieved" class="control-label">Assignment Grade Achieved: </label>
		<input id="assignmentGradeAchieved" class="form-control" th:field="*{assignmentGradeAchieved}" />
		
		</div>
			<div>
		<label for="assignmentGradeWorth" class="control-label">Assignment Grade Worth: </label>
		<input id="assignmentGradeWorth" class="form-control" th:field="*{assignmentGradeWorth}" />
		
		</div>
		

		
	  	<input type="hidden" name="assignmentId" th:value="${AssignmentId}" />
			
				
		<div class="form-group">
			<button type="submit" class="btn btn-success">Create</button>

		</div>
		</form>



<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>