<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="static/css/main.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><base>
  	<title>Edit Subject</title>
  	  	<style>
body {
	padding-top: 60px;
}
</style>
</head>


<body>
<div class=container>
<!-- navbar-static-top -->


	
	<nav class="navbar navbar-default  navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="userProfile1"> 
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<li><a href="/">Profile</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/calendar/000000/00">Calendar</a></li>
								<li><a href="/subjectSearch">Search For A Subject</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/allSubjects">View All Subjects</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/addsubject">Add New Subject</a></li>
								<li><a href="/addassignment">Add New Assignment</a></li>
								<li><a href="/addexam">Add New Exam</a></li>
								<li><a href="/addattendance">Add New Attendance</a></li>
							</ul></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout">Logout</a></li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
	<div class="container" >


		<form th:action="@{/editSubject}" th:object="${SubjectDto}" method="post">
		
		<div>
		<label for="subjectName" class="control-label">Subject Name: </label>
		<input id="subjectName" class="form-control" type="text" th:field="*{subjectName}" />
		
		</div>
		<div>
		<label for="subjectGradeGoal" class="control-label">Subject Grade Goal: </label>
		<input id="subjectGradeGoal" class="form-control" th:field="*{subjectGradeGoal}" />
		
		</div>
		
		<div>
		<label for="caCompletedWorth" class="control-label">Completed CA worth: </label>
		<input id="caCompletedWorth" class="form-control" th:field="*{caCompletedWorth}" />
		
		</div>
		
		<div>
		<label for="subjectResults" class="control-label">Subject Results: </label>
		<input id="subjectResults" class="form-control" th:field="*{subjectResults}" />
		
		</div>
		
	  	<input type="hidden" name="subjectId" th:value="${SubjectId}" />
			
				
		<div class="form-group">
			<button type="submit" class="btn btn-success">Create</button>

		</div>
		</form>
		</div>

 <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</body>
</html>