<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><base>
  	<title>Edit Exam</title>
  	  	<style>
body {
	padding-top: 60px;
}
</style>
</head>


<body>
	<div class=container>
		<!-- navbar-static-top -->


		<nav class="navbar navbar-default  navbar-fixed-top" style="background-color:#e7ffe0">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="userProfile1"> </a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<li><a href="/">Home</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/calendar/000000/00">Calendar</a></li>
								<li><a href="/timetable/00/00">Timetable</a></li>
								<li><a href="/contact">Contacts</a></li>
								<li><a href="/subjectSearch">Search For A Subject</a></li>
			
							</ul></li>
				
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<!-- 						<li><br>
						<b><span
								th:text="'Signed in as ' + ${user.firstName} + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'">Name</span></b></li> -->
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>

<div class="container" >
<h1>Edit Exam</h1>

		<form th:action="@{/editExam}" th:object="${ExamDto}" method="post">
		
		<div>
		<label for="examTitle" class="control-label">ExamTitle: </label>
		<input id="examTitle" class="form-control" type="text" th:field="*{examTitle}" required/>
		
		</div>
		<div>
		<label for="examGradeAchieved" class="control-label">Exam Grade Achieved: </label>
		<input id="examGradeAchieved" min="0" th:max="${ex.examGradeWorth}" type="number"  class="form-control" th:field="*{examGradeAchieved}" />
<!-- 	<input id="assignmentGradeAchieved" min="0" th:max="${ass.assignmentGradeWorth}" type="number" class="form-control" th:field="*{assignmentGradeAchieved}" />
 -->		</div>
<!-- 			<div>
		<label for="examGradeWorth" class="control-label">Exam Worth: </label>
		<input id="examGradeWorth" class="form-control" th:field="*{examGradeWorth}" />
		
		</div> -->
							<div>
		<label for="date" class="control-label">Date </label>
		<input id="date" type="date" class="form-control" th:field="*{date}" required />
		
		</div>
					<div>
		<label for="reminder" class="control-label">Reminder: (days before)</label>
		<input id="reminder" class="form-control" th:field="*{reminder}"  size="2"  name="reminder" min="0" max="1000"/> 
		
		</div>

		
	  	<input type="hidden" name="examId" th:value="${ExamId}" />
			
				
		<div class="form-group">
			<button type="submit" class="btn btn-success">Save</button>

		</div>
		</form>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>