<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script> -->

<link th:href="@{/resources/static/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/resources/static/bootstrap-3.3.7/js/bootstrap.min.js}"></script>

<!-- <link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<title>Home</title>
<style>
</style>


</head>
<body>



	<div class="navbar navbar-default" role="navigation" id="topnavbar">
		<div class="container">
			<div class="navbar-header">

				<button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target="#navbar-main">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>


			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li><a href="/"><span class="glyphicon glyphicon-home"></span>
							Profile</a></li>

					<li><a href="/competition"> <span
							class="glyphicon glyphicon-star"></span>Competitions
					</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout"> <span
							class="glyphicon glyphicon-user"></span>&nbsp; <strong>Log
								out</strong>

					</a></li>
				</ul>

			</div>
		</div>
	</div>


	<div class="container row">

		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">

					<img src="ban.png">



				</div>
				<div class="col-lg-4 col-md-5 col-sm-6">
					<div class="sponsor"></div>
				</div>
			</div>
		</div>
	</div>










	<div class="container"></div>




</body>

<script th:inline="javascript">
$(document).ready(function() {
    var panels = $('.user-infos');
    var panelsButton = $('.dropdown-user');
    panels.hide();

    //Click dropdown
    panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
            }
            else
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
            }
        })
    });


    $('[data-toggle="tooltip"]').tooltip();

    $('button').click(function(e) {
        e.preventDefault();
        alert("This is a demo.\n :-)");
    });
});

</script>

</html>